<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppZetaR">

        <!-- PANTALLA 1: Tu bienvenida actual (ZETA RESTAURANTE) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- PANTALLA 2: La pantalla de carga con la barra de progreso -->
        <activity
            android:name=".splash.SplashActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Menu.ActivityMenu"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Usuario.ActivityMenuUsuario"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Usuario.ActivityPedido"
            android:exported="false" />
        <activity
            android:name=".Usuario.ActivityDatosPedido"
            android:exported="false" />
        <activity
            android:name=".Usuario.ActivityResumenPedido"
            android:exported="false" />
        <activity
            android:name=".Usuario.Pagos.ActivityPagoYape"
            android:exported="false" />
    </application>

</manifest>